[submodule "src/externals/googletest"]
	path = src/externals/googletest
	url = git@github.com:google/googletest.git
[submodule "src/externals/nlohmann"]
	path = src/externals/nlohmann
	url = git@github.com:nlohmann/json.git
[submodule "src/externals/glog"]
	path = src/externals/glog
	url = git@github.com:google/glog.git
[submodule "src/externals/wxwidgets"]
	path = src/externals/wxwidgets
	url = git@github.com:wxWidgets/wxWidgets.git
[submodule "src/externals/glm"]
	path = src/externals/glm
	url = git@github.com:g-truc/glm.git
[submodule "src/externals/freetype"]
	path = src/externals/freetype
	url = git@github.com:freetype/freetype.git
