[submodule "src/externals/googletest"]
	path = src/externals/googletest
	url = git@github.com:google/googletest.git
[submodule "src/externals/nlohmann"]
	path = src/externals/nlohmann
	url = git@github.com:nlohmann/json.git
[submodule "src/externals/glog"]
	path = src/externals/glog
	url = git@github.com:google/glog.git
[submodule "src/externals/wxwidgets"]
	path = src/externals/wxwidgets
	url = git@github.com:wxWidgets/wxWidgets.git
[submodule "src/externals/glm"]
	path = src/externals/glm
	url = git@github.com:g-truc/glm.git
[submodule "src/externals/freetype"]
	path = src/externals/freetype
	url = git@github.com:freetype/freetype.git
[submodule "src/externals/liquidfun"]
	path = src/externals/liquidfun
	url = git@github.com:google/liquidfun.git
[submodule "src/src/externals/box2d"]
	path = src/src/externals/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "src/externals/box2d"]
	path = src/externals/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "src/externals/reactphysics3d"]
	path = src/externals/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "src/externals/dso"]
	path = src/externals/dso
	url = https://github.com/JakobEngel/dso.git
[submodule "src/externals/pangolin"]
	path = src/externals/pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "src/externals/slam-python"]
	path = src/externals/slam-python
	url = https://github.com/filchy/slam-python.git
[submodule "src/externals/pyslam"]
	path = src/externals/pyslam
	url = https://github.com/luigifreda/pyslam.git
